.chat-main
  .chat-main__group-info
    .group
      .group__name
        = @group.name
      .group__member
        " Member: "
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class: "edit__btn" do
      Edit
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form__contents
        = f.text_field :content, class: 'form__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'form__send'